.registration{
  background: url("../dist/assets/images/background.png") no-repeat fixed;
  background-position-x: 100%;
  min-height: 100%;

  .logo-container {
    max-width: 300px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }

}
