<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fairlance - freelance done fair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Freelancing jobs but with fare trade approach - fairlance. Subscribe to our mailing list and get involved in revolutionizing freelancing!">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
    <!--<meta name="google-site-verification" content="KSbCutFwamMJoWCtmw41lINKfpW4TX_AcUCGIQCsVKg" />-->
    <!--<script>-->
    <!--(function (i, s, o, g, r, a, m) {-->
    <!--i['GoogleAnalyticsObject'] = r;-->
    <!--i[r] = i[r] || function () {-->
    <!--(i[r].q = i[r].q || []).push(arguments)-->
    <!--}, i[r].l = 1 * new Date();-->
    <!--a = s.createElement(o),-->
    <!--m = s.getElementsByTagName(o)[0];-->
    <!--a.async = 1;-->
    <!--a.src = g;-->
    <!--m.parentNode.insertBefore(a, m)-->
    <!--})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');-->
    <!--ga('create', 'UA-68671730-1', 'auto');-->
    <!--ga('send', 'pageview');-->
    <!--</script>-->
</head>
<body aurelia-app="main">
    <div class="splash">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <script replace="here">
      var appBaseUrl = "http://08c07d5a.ngrok.io/api/application/";
      var searchBaseUrl = "http://08c07d5a.ngrok.io/api/search/";
      var registerBaseUrl = "http://08c07d5a.ngrok.io/api/registration/";
      var wsBaseUrl = "ws://08c07d5a.ngrok.io/api/messaging/";
      var wsNotificationUrl = "ws://08c07d5a.ngrok.io/api/notification/";
      var uploadBaseUrl = "http://08c07d5a.ngrok.io/api/fileserver/";
      var paymentBaseUrl = "http://08c07d5a.ngrok.io/api/payment/";
    </script>
    <!--###REPLACE_HERE###-->
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>
