<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fairlance - freelance done fair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Freelancing jobs but with fare trade approach - fairlance. Subscribe to our mailing list and get involved in revolutionizing freelancing!">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet">
    <!-- imported CSS are concatenated and added automatically -->
</head>
<body aurelia-app="main">
    <div class="splash">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <script >
      var placeholder = "local.fairlance.io:8000";
      var appBaseUrl = "//" + placeholder + "/api/application/";
      var searchBaseUrl = "//" + placeholder + "/api/search/";
      var registerBaseUrl = "//" + placeholder + "/api/registration/";
      var wsBaseUrl = "ws://" + placeholder + "/api/messaging/";
      var wsNotificationUrl = "ws://" + placeholder + "/api/notification/";
      var uploadBaseUrl = "//" + placeholder + "/api/fileserver/";
      var paymentBaseUrl = "//" + placeholder + "/api/payment/";
    </script>
    <!--###REPLACE_HERE###-->
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>
