.profile {
  margin-top: 50px;
  padding-bottom: 80px;
  overflow: scroll;
  height: 100%;
  color: #6D849D;
  .profile-header {
    background-color: #F0F0F0;
    height: 130px;
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      float: left;
      margin-right: 30px;
      margin-top: 15px;
    }
    section {
      float: left;
      margin-top: 15px;
      h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        color: #2D353D;
        margin: 0;
      }
      p {
        &.available {
          margin-top: 10px;
          color: #8CBFFA;
          i {
            color: #50E3C3;
            font-size: 20px;
            float: left;
            margin-top: -4px;
          }
        }
        &.rate {
          span {
            color: #8CBFFA;
          }
        }
      }
    }
  }
  .numbers {
    background-color: #FBFAFA;
    height: 40px;
    span {
      color: #2D353D;
      text-transform: uppercase;
      line-height: 40px;
      float: left;
      &:first-child {
        margin-right: 55px;
      }
      &:last-child {
        float: right;
        margin-right: 10px;
      }
      i {
        color: #FDC228;
        font-size: 20px;
        position: relative;
        top: 5px;
      }
    }
  }
  ul {
    li {
      height: 50px;
      border-bottom: 1px solid #D7DCE1;
      a {
        line-height: 50px;
        font-size: 15px;
        color: inherit;
      }
    }
  }
  > section {
    margin: 0;
    h3 {
      a {
        color: inherit;
      }
      font-size: 18px;
      font-weight: bold;
    }
    p {
      font-style: italic;
    }
    &.portfolio {
      section {
        height: 140px;
        position: relative;
        margin: 0 0 10px;
        &:nth-child(odd) {
          padding-right: 5px;
        }
        &:nth-child(even) {
          padding-left: 5px;
        }
        img {
          height: 140px;
          width: 100%;
          object-fit: cover;
        }
        .review-desc {
          position: relative;
          > div {
            height: 50px;
            opacity: 0.85;
            background-color: #8CBFFA;
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            h4 {
              color: #FFFFFF;
              font-size: 12px;
              padding-left: 10px;
            }
          }
        }
      }
    }
    &.reviews {
      margin-bottom: 50px;
      > h3 {
        height: 60px;
        line-height: 60px;
        margin: 0;
        > span {
          font-size: 14px;
          font-weight: normal;
          margin-left: 20px;
          i {
            color: #FDC228;
            font-size: 20px;
            position: relative;
            top: 5px;

          }
        }
      }
      section {
        margin: 0 0 10px;
        h3 {
          width: 100%;
          font-size: 14px;
          height: 40px;
          margin: 0;
          line-height: 40px;
          span {
            font-weight: normal;
            margin-left: 20px;
            i {
              color: #FDC228;
              font-size: 20px;
              position: relative;
              top: 5px;
            }
            &.date {
              float: right;
            }
          }
        }
        p {
          line-height: 18px;
          font-style: italic;
        }
      }
    }
  }
  .add-reference {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #EC7253;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24), 0 0 12px 0 rgba(0,0,0,0.12), 0 12px 12px 0 rgba(0,0,0,0.24);
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    color: #fff;
    border: none;
  }
}