@import "../../assets/styles/partials/variables";

.profile {
  margin-top: 50px;
  padding-bottom: 80px;
  overflow: scroll;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 128px;
  }
  .profile-header {
    height: 112px;
    @media screen and (min-width: $screen-md-min) {
      height: 132px;
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      float: left;
      margin-top: 15px;
      object-fit: cover;
      @media screen and (min-width: $screen-md-min) {
        width: 144px;
        height: 144px;
        margin-top: 32px;
      }
    }
    section {
      float: left;
      margin-top: 16px;
      color: #2D353D;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 16px;
        margin-top: 32px;
      }
      h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin: 0;
        @media screen and (min-width: $screen-md-min) {
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      p {
        &.available {
          margin-top: 8px;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;
          i {
            color: #50E3C3;
            font-size: 12px;
            float: left;
            margin-top: 5px;
            margin-right: 8px;
          }
        }
        &.timezone {
          font-size: 12px;
          line-height: 16px;
          @media screen and (min-width: $screen-md-min) {
            font-size: 16px;
            line-height: 24px;
            margin-top: 8px;
          }
        }
        select {
          border: none;
          background: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          &::-ms-expand {
            display: none;
          }
        }
      }
    }
  }
  .numbers {
    height: 32px;
    border-bottom: 1px solid #D7DCE1;
    @media screen and (min-width: $screen-md-min) {
      border: none;
      float: left;
      margin-left: 16px;

    }
    span {
      color: #2D353D;
      float: left;
      display: inline-block;
      margin-right: 8px;
      font-size: 16px;
      line-height: 24px;
      i {
        color: #FDC228;
        font-size: 16px;
        position: relative;
        top: 2px;
      }
    }
  }
  .section {
    color: #2D353D;
    border-bottom: 1px solid #D7DCE1;
    @media screen and (min-width: $screen-md-min) {
      border: none;
    }
    &:last-child {
      border: none;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: #2D353D;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 16px;
        padding-top: 16px;
      }
      &.gray {
        color: #D7DCE1;
      }
    }
    p {
      font-size: 12px;
      line-height: 16px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 14px;
        padding-right: 16px;
      }
    }
    &.portfolio {
      @media screen and (min-width: $screen-md-min) {
        margin-top: -176px;
      }
      h3 {
        @media screen and (min-width: $screen-md-min) {
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      section {
        position: relative;
        margin: 0 0 10px;
        &:nth-child(odd) {
          padding-right: 5px;
        }
        &:nth-child(even) {
          padding-left: 5px;
        }
        img {
          height: 140px;
          width: 100%;
          object-fit: cover;
        }
        .desc {
          border: 1px solid #CECECE;
          border-radius: 3px;
          margin-top: 8px;
          padding: 4px;
        }
        .placeholder {
          height: 140px;
          width: 100%;
          background-color: #B3B5B3;
          position: relative;
          display: block;
          color: #fff;
          i {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 80px;
            height: 80px;
            font-size: 80px;
            margin: auto;
          }
        }
        .review-desc {
          position: relative;
          > div {
            height: 50px;
            opacity: 0.85;
            background-color: #8CBFFA;
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            h4 {
              color: #FFFFFF;
              font-size: 12px;
              padding-left: 10px;
            }
          }
        }
      }
    }
    &.reviews {
      margin-bottom: 50px;
      .review-title {
        @media screen and (min-width: $screen-md-min) {
          border-top: 1px solid #D7DCE1;
        }
        > span {
          font-size: 14px;
          font-weight: normal;
          margin-left: 20px;
          i {
            color: #FDC228;
            font-size: 16px;
            position: relative;
            top: 2px;

          }
        }
      }
      section {
        margin: 0 0 10px;
        h3 {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          margin: 0 0 16px;
          span {
            font-weight: normal;
            margin-left: 20px;
            i {
              color: #FDC228;
              font-size: 20px;
              position: relative;
              top: 5px;
            }
            &.date {
              float: right;
              font-size: 12px;
              line-height: 16px;
              @media screen and (min-width: $screen-md-min) {
                display: block;
                width: 100%;
              }
            }
          }
        }
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  .add-reference {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #EC7253;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 12px 12px 0 rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    color: #fff;
    border: none;
    line-height: 56px;
  }
}