@mixin background() {
  background: url("../../assets/images/background.png") no-repeat fixed;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}