.logo-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 50%;
    color: #ffffff;
    font-size: 175%;
    font-weight: 100;
  }
}
form {
  width: 100%;
  padding: 10px 30px 0 30px;
  input {
    width: 65%;
    margin-right: 3%;
    height: 40px;
    border: none;
  }
  button.btn {
    background-color: #F8ED33;
    width: 30%;
    height: 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
  }
}
section {
  article.summary-box {
    width: 100%;
    padding: 10px 30px 0 30px;
    h2 {
      text-transform: uppercase;
      font-size: 16px;
      display: inline-block;
      line-height: 0px;
      padding-left: 20px;
    }
  }
}
footer {
  .social-icons {
    margin: 20px auto;
    width: 252px;
    a {
      background: url("../dist/assets/images/temp.png") no-repeat;
      background-size: contain;
      height: 40px;
      width: 40px;
      margin: 0 10px;
      display: inline-block;
      border-radius: 50%;
    }
  }
}