.logo-container {
  position: relative;
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 50%;
    color: #ffffff;
    font-size: 175%;
    font-weight: 100;
  }
}

form {
  width: 100%;
  padding: 10px 30px 0 30px;
  @media screen and (min-width: 960px) {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
  input {
    width: 68%;
    margin-right: 2%;
    padding-left: 10px;
    padding-top: 4px;
    height: 40px;
    border: none;
    float: left;
  }
  button.btn {
    background-color: #F8ED33;
    width: 30%;
    height: 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
    float: left;
    :hover {
      background-color: #F8ED33;
    }
  }
}

section {
  margin: 10px 30px 0 30px;
  @media screen and (min-width: 960px) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }
  article.summary-box {
    margin-bottom: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    float: left;
    width: 100%;
    @media screen and (min-width: 600px) {
      width: 49%;
      margin-right: 1%;
      min-height: 160px;
      &:nth-child(even) {
        margin-right: 0;
        margin-left: 1%;
      }
    }
    @media screen and (min-width: 960px) {
      width: 24%;
      &:nth-child(even) {
        margin-right: 1%;
        margin-left: 0;
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 16px;
      display: inline-block;
      line-height: 0;
      margin: 0;
      font-weight: bold;
      letter-spacing: 2px;
      .fa-circle {
        font-size: 5px;
        position: relative;
        bottom: 4px;
        padding-right: 5px;
      }
    }
  }
}

footer {
  .social-icons {
    margin: 20px auto;
    width: 252px;
    a {
      background-color: rgba(255, 255, 255, 0.8);
      height: 40px;
      width: 40px;
      margin: 0 20px;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      &:before {
        font-size: 24px;
        position: absolute;
        left: 12px;
        top: 9px;
        color: #f15b24;
      }
      &.fa-twitter {
        &:before {
          left: 10px;
        }
      }
      &.fa-linkedin {
        &:before {
          left: 10px;
        }
      }
    }
  }
}