body {
  overflow-x: hidden;
  .page-host {
    overflow: hidden;
  }
}

#page-content {
  position: relative;
  padding: 50px 0;
  left: 0;
  height: 100%;
  color: #6D849D;
  overflow: scroll;
  i.archived {
    color: #D3D3D3;
    background-color: #fff;
  }
  .archived {
    background-color: #D3D3D3;
  }
  i.pending {
    color: #30C0FF;
    background-color: #fff;
  }
  .pending {
    background-color: #30C0FF;
  }
  i.canceled {
    color: #d1051d;
    background-color: #fff;
  }
  .canceled {
    background-color: #d1051d;
  }
  i.working {
    color: #50E3C3;
    background-color: #fff;
  }
  .working {
    background-color: #50E3C3;
  }
  i.finalizing_terms {
    color: #FFE361;
    background-color: #fff;
  }
  .finalizing_terms {
    background-color: #FFE361;
  }
  &.slide-active {
    padding-top: 50px;
    overflow: hidden;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 5px;
    i {
      font-size: 20px;
      position: relative;
      top: 3px;
    }
  }
  .project-header {
    height: 130px;
    margin-top: 10px;
    h1 {
      height: 36px;
      border-radius: 3px;
      font-size: 20px;
      width: 200px;
      position: relative;
      top: 30px;
      color: #fff;
      padding-left: 15px;
      line-height: 36px;
      margin: 0 auto;
      i {
        color: #fff;
      }
    }
    p {
      position: relative;
      top: 40px;
      text-align: center;
      color: #6D849D;
    }
  }
  .section {
    margin: 0;
    > a {
      color: #6D849D;
      font-size: 15px;
      height: 60px;
      line-height: 60px;
      i {
        position: relative;
        top: 3px;
        font-size: 14px;

      }
    }
    > article {
      padding-left: 20px;
      font-size: 12px;
      &.contract {
        text-align: center;
        > p {
          height: 32px;
          width: 100%;
          background-color: #F0F0F0;
          line-height: 32px;
          font-size: 16px;
          color: #30C0FF;
          padding-left: 16px;
          margin: 0;
          span {
            color: #2C353D;
            margin-left: 10px;
          }
        }
        > div {
          text-align: left;
          height: 56px;
          border-bottom: 1px solid #D7DCE1;
          line-height: 56px;
          margin: 0 16px;
          color: #2C353D;
          position: relative;
          span {
            margin-left: 55px;
          }
          label {
            font-size: 16px;
            color: #2C353D;
            font-weight: 200;
          }
          input {
            float: right;
            margin-top: 7px;
            right: 25px;
            height: 42px;
            border: 1px solid #CECECE;
            border-radius: 3px;
            width: 58px;
            box-shadow: inset 0 1px 0 0 rgba(206, 206, 206, 0.3);
            font-size: 16px;
            padding-left: 16px;
            position: absolute;
            &.date {
              width: 130px;
            }
          }
          i {
            float: right;
            font-size: 22px;
            line-height: 56px;
            color: #CECECE;
            font-style: normal;
          }
        }
        > button {
          margin: 20px auto 10px;
          height: 32px;
          width: 160px;
          border-radius: 3px;
          background-color: #30C0FF;
          font-size: 18px;
          color: #fff;
          border: none;
          &.changes {
            background-color: #FF594C;
          }
        }
        .full-contract {
          display: block;
          margin: 10px auto;
          color: #33C1FF;
          font-size: 14px;
        }
      }
    }
  }
  .client-name {
    margin-left: 25px;
    text-decoration: underline;
    font-size: 16px;
  }
  .function-buttons {
    position: fixed;
    bottom: 0px;
    background-color: #737373;
    width: 100%;
    height: 50px;
    padding: 10px;
  }
  .image-upload {
    img {
      height: 50px;
      width: 50px;
      float: left;
    }
  }
}

#slidemenu {
  left: -100%;
  width: 80%;
  min-width: 0;
  position: absolute;
  padding-left: 0;
  z-index: 2;
  top: 50px;
  margin: 0;
  height: 100%;
  overflow: scroll;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .panel-body {
    height: 100%;
    .chat {
      padding: 0;
      margin: 0 0 100px;
      .message {
        &.right {
          p {
            .content {
              background-color: #D9EDF7;
              float: right;
            }
          }
          .date {
            text-align: right;
            margin-top: 0;
          }
        }
        p {
          .content {
            background-color: #DFF0D8;
            border: 0.5px solid #D6EAC5;
            border-radius: 2px;
            font-size: 9px;
            line-height: 11px;
            color: #000000;
            padding: 10px;
          }
        }
        .date {
          font-size: 8px;
          line-height: 10px;
          color: #BFBFBF;
          margin-top: 18px;
        }
      }
    }
  }
  .panel-footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    form {
      display: flex;
    }
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

/* put toggle bars on the left :: not using button */

#slide-nav .navbar-toggle {
  cursor: pointer;
  position: relative;
  line-height: 0;
  float: left;
  margin: 0;
  width: 30px;
  height: 40px;
  padding: 10px 0 0 0;
  border: 0;
  background: transparent;
  > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
  }
  &.slide-active .icon-bar {
    background: orange;
  }
}

.navbar-header, .navbar.navbar-fixed-top.slide-active {
  position: relative;
  margin-bottom: 0;

}

#slide-nav {
  margin-top: 50px;
  .container {
    margin: 0;
    padding: 0 !important;
  }
  .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
  }
  .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
  }
  border-top: 0;
}
