.job-apply {
  position: fixed;
  top: 50px;
  background-color: #979797;
  height: 40px;
  padding: 0 15px;
  z-index: 2;
  width: 100%;
  a {
    color: #fff;
    line-height: 40px;
    text-decoration: underline;
    float: left;
  }
  .rating {
    color: #fff;
    margin-left: 10px;
    display: block;
    float: left;
    line-height: 40px;
    i {
      position: relative;
      font-size: 20px;
      top: 5px;
    }
  }
  .mdl-button {
    float: right;
    background-color: #ececec;
    height: 30px;
    margin-top: 4px;
    line-height: 30px;
    text-transform: capitalize;
  }
}
.job.mdl-layout__content {
  margin-top: 90px;
  padding: 15px;
  .heading {
    h2 {
      font-size: 20px;
      font-weight: 300;
      margin: 0;
      width: 65%;
      line-height: 20px;
      float: left;
    }
    .date {
      display: block;
      float: right;
      font-size: 16px;
      i {
        font-size: 14px;
      }
    }
    .info {
      float: left;
      width: 100%;
      font-size: 12px;
      border-bottom: 1px solid #979797;
      padding-bottom: 5px;
      margin-bottom: 10px;
      margin-top: 15px;
      span {
        display: block;
        float: left;
        margin-right: 20px;
      }
    }
  }
  .content {
    h3 {
      font-size: 18px;
      line-height: 18px;
      font-weight: 300;
    }
    p {
      a {
        display: block;
        width: 100%;
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}