.jobs {
  margin-top: 50px;

  .job {
    position: relative;
    margin-top: 16px;
    text-decoration: none;
    display: block;
    .job-header {
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      a {
        text-decoration: underline;
        color: #30C0FF;
      }
      span {
        display: inline-block;
        margin-left: 8px;
        i {
          font-size: 16px;
          color: #FEDA9B;
          line-height: 12px;
          position: relative;
          top: 2px;
        }
      }

    }
    a {
      color: #2D353D;
      h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        strong {
          width: 100%;
          display: block;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .job-description {
        font-size: 12px;
        line-height: 16px;
        max-height: 48px;
        overflow: hidden;
      }
      .job-footer {
        font-size: 12px;
        line-height: 16px;
        margin-top: 16px;
        span {
          margin-right: 16px;
        }
      }
    }

  }
}