.info-screen {
  height: 100%;
  .thank-you {
    height: 101%;
    background: #BEBEBE url("../dist/assets/images/thank-you.png") no-repeat 50% 50%;
    background-size: contain;
  }
  .more-content {
    height: 100%;
    overflow: hidden;
  }
}