<template bindable="user">
    <div class="main-menu">
        <a route-href="route.bind: user.type;  params.bind:{id:user.id}">
            <i class="material-icons">account_circle</i>
        </a>
        <a route-href="route:jobs">
            <i class="material-icons">home</i>
        </a>
        <a>
            <i class="material-icons">announcement</i>
        </a>
        <a route-href="route:projects">
            <i class="material-icons">message</i>
        </a>
    </div>
</template>