<template bindable="user">
    <div class="main-menu">
        <a route-href="route:projects">
            Projects
        </a>
        <a route-href="route:jobs" if.bind="user.type === 'freelancer'">
            Jobs
        </a>
        <a route-href="route.bind: user.type;  params.bind:{id:user.id}">
            Profile
        </a>
        <a route-href="route:applications" if.bind="user.type === 'client'">
            Applications
        </a>
        <a class="fairlance-badge" route-href="route:notifications">
            Notifications
            <span if.bind="counter.length">${counter}</span>
        </a>
        <i class="material-icons">more_vert</i>
    </div>
</template>