.notifications {
  margin-top: 50px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 140px;
  article {
    &.job-applications {
      .notification {
        .title {
          i {
            color: #30C0FF;
          }
        }
      }
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      padding-bottom: 16px;
      border-bottom: 1px solid #30C0FF;
      margin: 15px 15px 0;
    }
    .notification {
      color: #2D353D;
      display: block;
      margin-top: 16px;
      h2 {
        border: none;
        margin: 0;
        padding-left: 25px;
        &.green {
          color: #47E4C3;
        }
        &.red {
          color: #FC4529;
        }
      }
      span {
        display: block;
        font-size: 16px;
        line-height: 24px;
        padding-left: 25px;
        &.from {
          width: 100%;
          color: #999999;
        }
        &.title {
          width: 100%;
          position: relative;
          height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          i {
            position: absolute;
            left: 0;
            top: 4px;
            font-size: 16px;
            color: #47E4C3;
          }
        }
        &.details {
          display: inline-block;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}