.projects-list {
  margin-top: 50px;
  overflow: scroll;
  height: 100%;
  select {
    border-color: #6D849D;
    width: 127px;
    height: 32px;
    margin: 4px auto 0;
    background-color: #ffffff;
  }
  section {
    margin: 0;
    &.in_progress,
    &.done,
    &.pending_finished {
      h2 {
        border-bottom-color: #50E3C3;
      }
      a {
        span {
          i {
            color: #50E3C3;
          }
        }
      }
    }
    &.pending_funds,
    &.finalizing_terms {
      h2 {
        border-bottom-color: #ffcb33;
      }
      a {
        span {
          i {
            color: #ffcb33;
          }
        }
      }
    }
    &.job-list {
      h2 {
        border-bottom-color: #30C0FF;
      }
      a {
        span {
          i {
            color: #30C0FF;
          }
        }
      }
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      border-bottom: 1px solid #50E3C3;
      padding-bottom: 16px;
    }
    a {
      span {
        color: #2D353D;
        padding-left: 25px;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        display: block;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.details {
          font-size: 12px;
          line-height: 16px;
        }
        i {
          position: absolute;
          left: 0;
          font-size: 12px;
          top: 6px;
        }
      }
    }
  }
}

.add-project {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #FC4529;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 12px 12px 0 rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  bottom: 60px;
  right: 15px;
  z-index: 2;
  color: #fff;
  border: none;
}