.page-host {
  height: 100%;
  background-color: #44C3BF;
  .profile {
    height: 100%;
    .details {
      width: 25%;
      height: 100%;
      float: left;
      background-color: #ffffff;
      padding: 20px;
      .row-details {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 2px solid lightgray;
        padding-top: 30px;
        &.first {
          margin:-20px -20px 20px -20px;
          border: none;
          background-color: #f15b24;
          padding: 30px 0;
          width: auto;
        }
        &.profile-pic {
          padding-top: 0;
          img {
            width: 150px;
            border-radius: 75px;
            float: left;
          }
          div {
            float: left;
            margin-left: 20px;
            margin-top: 20px;
            p {
              &.name {
                font-size: 20px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .portfolio {
      width: 75%;
      height: 100%;
      float: left;
      padding: 20px;
      overflow-y: auto;
      .project {
        padding: 10px;
        background-color: #ffffff;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
        .project-content {
          margin: 20px 0;
          .social {
            margin: 20px 20px 0 20px;
            .fa {
              font-size: 18px;
              &:before {
                font-size: 24px;
              }
              &.fa-heart {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}
