@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../dist/assets/fonts/material/material-fonts.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Flexo';
  src: url('../dist/assets/fonts/flexo/regular/Flexo-Regular.eot');
  src: local('☺'),
  url('../dist/assets/fonts/flexo/regular/Flexo-Regular.woff') format('woff'),
  url('../dist/assets/fonts/flexo/regular/Flexo-Regular.ttf') format('truetype'),
  url('../dist/assets/fonts/flexo/regular/Flexo-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('../dist/assets/fonts/flexo/bold/Flexo-Bold.eot');
  src: local('☺'),
  url('../dist/assets/fonts/flexo/bold/Flexo-Bold.woff') format('woff'),
  url('../dist/assets/fonts/flexo/bold/Flexo-Bold.ttf') format('truetype'),
  url('../dist/assets/fonts/flexo/bold/Flexo-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  body {
    font: normal normal normal 14px/1 Flexo;
    position: relative;
    height: 100%;
    .splash {
      text-align: center;
      margin: 10% 0 0 0;
      box-sizing: border-box;
      color: #000000;
      .fa-circle-o-notch {
        text-align: center;
        display: inline-block;
        font-size: 72px;
        margin-top: 50px;
        color: #ffffff;
      }
    }
    .page-host {
      height: 100%;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    .clearfix:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
    }
    .mdl-components {
      &__warning {
        padding: 0 20px;
        color: #d50000;
        font-size: 12px;
      }
    }

    @import "partials/_mixins.scss";
    @import "partials/_form.scss";
    @import "../app/landing/landing.scss";
    @import "../app/registration/registration.scss";
    @import "../app/login/login.scss";
    @import "../app/profile/profile.scss";
    @import "../app/info/info.scss";
  }
}

