html {
  height: 100%;
  min-height: 100%;
  body {
    background: url("../dist/assets/images/Background.jpg") no-repeat fixed;
    background-position-x: 100%;
    background-size: cover;
    .splash {
      text-align: center;
      margin: 10% 0 0 0;
      box-sizing: border-box;
      color: #000000;
      .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 72px;
        margin-top: 50px;
      }
    }
    @import "../app/landing/landing.scss";
  }
}

