.job-details {
  margin-top: 50px;
  padding-bottom: 140px;
  .job {
    position: relative;
    margin-top: 16px;
    text-decoration: none;
    display: block;
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin: 0;
      position: relative;
      &.gray {
        color: #D7DCE1;
      }
    }
    .job-header {
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      a {
        text-decoration: underline;
        color: #30C0FF;
      }
      span {
        display: inline-block;
        margin-left: 8px;
        i {
          font-size: 16px;
          color: #FEDA9B;
          line-height: 12px;
          position: relative;
          top: 2px;
        }
      }

    }
    > div {
      color: #2D353D;
      h2 {
        strong {
          width: 100%;
          display: block;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .job-description {
        font-size: 12px;
        line-height: 16px;
        max-height: 48px;
        overflow: hidden;
      }
      .job-footer {
        font-size: 12px;
        line-height: 16px;
        margin-top: 8px;
        span {
          margin-right: 16px;
        }
      }
    }
    section {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 16px;
      h2 {
        margin-bottom: 16px;
      }
      .link {
        a {
          font-size: 16px;
          line-height: 24px;
        }
        p {
          margin-top: 8px;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  form.apply-button {
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    .background {
      position: absolute;
      z-index: 0;
      background-color: #fff;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
    }
    a {
      z-index: 1;
      position: relative;
      display: block;
      font-size: 12px;
      font-weight: 200;
      line-height: 15px;
      color: #6D849D;
      &.button {
        height: 32px;
        width: 192px;
        border-radius: 3px;
        border: none;
        background-color: #30C0FF;
        display: inline-block;
        font-size: 16px;
        text-align: center;
        line-height: 32px;
        color: #FFFFFF;
      }
      i {
        position: relative;
        top: 5px;
      }
    }
  }
}